body {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  h1, h2 {
    color: #333;
  }
  
  #time-container {
    margin-bottom: 30px;
  }
  
  #time {
    font-size: 60px;
    font-weight: bold;
  }
  
  #alarm-container {
    margin-bottom: 30px;
  }
  
  #alarm-list {
    list-style-type: none;
    padding: 0;
  }
  
  .alarm-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .alarm-time {
    font-weight: bold;
  }
  
  .alarm-actions {
    display: flex;
    gap: 10px;
  }
  
  .alarm-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .alarm-button:hover {
    background-color: #0056b3;
  }
  
  #set-alarm-container {
    margin-bottom: 30px;
  }
  
  #time-input {
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 50px;
    margin-right: 10px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #set-alarm {
    background-color: #28a745;
  }
  
  #set-alarm:hover {
    background-color: #1e7e34;
  }
  
  #alarm-sound {
    display: none;
  }
  .alarm-button-active {
    background-color: #28a745;
  }
  .alarm-button-de-active{
    background-color: #0056b3;
  }
  .alarm-button-edit {
    padding: 5px 10px;
    background-color: #ffc107;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .alarm-button-edit:hover {
    background-color: #e0a800;
  }